.main-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

.ap-input-icon svg {
  top: 100% !important;
}

.hcf-main-container {
  // background-color: red;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  .header, .content, .footer {
    width: 91%;
    margin: 0 auto;
  }
  .header {
    // background-color: blue;
    border-bottom: 1px white solid;
  }
  .content {
    // background-color: pink;
  }
  .footer {
    border-top: 1px white solid;
    // background-color: blue;
  }
}
.carnet-progress-do, .carnet-progress-ip {
  width: 100% !important;
  height: 100% !important;
}
.ldBar-label {
  top: 20% !important;
}

.ap-footer {
  display: none !important;
}
