
<p>Bonjour !

<p>Bienvenue sur bicicouriers.fr</p>
<p>Vous pouvez dès à présent passer toutes vos commande directement sur notre site, suivre leurs évolutions, et gérer vos carnets.</p>

<p>à bientôt sur les routes nantaises :)</p>

<p>L'équipe BiciCouriers</p>
