.conditions {
  margin: 100px auto;
  width: 80%;
  background-color: $blue;
  padding: 30px;
  border-radius: 20px;
  text-align: justify;
    p, li {
      font-size: 14px;
      color: white;
    }
    h2 {
      font-size: 18px;
      font-weight: 600;
    }
}
