.covid {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9)), asset-url('covid-19.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  .title {
    width: 80%;
    // height: 200px;
    margin: 100px auto 30px auto;
    h1 {
      color: white;
    }
  }

  .intro {
    width: 80%;
    height: 300px;
    margin: 0px auto 30px auto;
    p {
      color: white;
    }
  }

  .buttons {
    margin: 0px auto 30px auto;
  }
}
