// SHOW ------------
.show-service-container {
  display: flex;
  background-color: $blue;
  width: 100vw;
  height: 100vh;

  justify-content: space-around;
  align-items: center;

}

.show-service-img {
  width: 40%;
  margin: auto 0px;
  display: flex;
  justify-content: center;
  img {
    max-width:100%;
    max-height:100%;
  }
}

.show-service-details {
  padding: 30px;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  width: 50%;
  height: 70%;
  h1 {
    font-weight: 800;
    font-size: 42px;
    line-height: 72px;
    color: white;
  }
  p {
    font-size: 14px;
    line-height: 25px;
    color: white;

  }
  a {
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    color: white;
  }
  .d-button {
    padding: 15px 40px;
    border: solid 2px $pink;
    background-color: white;
    border-radius: 5px;
    color: $pink;
    width: 250px;
  }
}

@media (max-width: 960px) {

}
@media (max-width: 720px) {
  .show-service-container {
    flex-direction: column-reverse;
    height: 100%;
  }
  .show-service-details {
    padding-top: 100px;
    width: 90%;
  }
  .show-service-img {
    margin: 50px 0px;
    padding-bottom: 50px;
    width: 90%;
  }
}


