<div class="bg-blue-100 w-full">
  <%= @field.fields_for @drops do |p|%>
    <%= p.input :address, input_html: {'data-reflex': 'change->Delivery#distance', 'data-delivery-target': "drop"  } %>
    <%= p.input :start_hour, label: false, as: :string, input_html: { value: Time.now.strftime("%H:%M") } %>
    <%= p.input :end_hour,   label: false, as: :string, input_html: { value: @city.end_hour } %>
  <% end %>
</div>
