<div class="w-full h-full">
  <%= @field.fields_for @drops do |p|%>
    <%= p.input :address, label: "Adresse d'arrivée", placeholder: "8 Passage de la poule noire, 44000 Nantes", input_html: {'data-reflex': 'input->Delivery#distance', 'data-delivery-target': "drop", class: "address-input"  } %>
    <%= p.input :start_hour, label: false, as: :string, input_html: { value: Time.now.strftime("%H:%M"), class: 'hidden' } %>
    <%= p.input :end_hour,   label: false, as: :string, input_html: { value: @city.end_hour, class: 'hidden'  } %>
  <% end %>
</div>
