  <div class="bg-blue-200 flex justify-between">
    <div><span><%= distance %></span> km</div>
    <div><span data-delivery-target="distance"><%= distance_tickets %></span><span> €</span></div>

  </div>
