<div id="total" class="col-span-full flex">
  <div class="w-full">
    <div id="total_distance"><%= render(TotalDistanceComponent.new(delivery: @delivery)) %></div>
    <div id="total_urgence"></div>
    <div id="total_volume"></div>
  </div>
</div>
<div class="border-t col-span-full justify-between flex">
  <div>Total</div>
  <div><span data-delivery-target="total">0</span><span> €</span></div>
</div>
