<div class="bg-blue-100 w-full">
  <%= @field.fields_for @urgence do |option| %>
    <%= option.association :option, label: 'Délais de livraison', collection: Urgence.all, input_html: {'data-reflex': 'change->Delivery#urgence'} %>
  <% end %>
</div>
