
<div class="bg-blue-100 w-full">
  <%= @field.fields_for @delivery_options do |option| %>
    <%= option.association :option, label: 'Volume à transporter', collection: Volume.all, selected: Volume.first %>
  <% end %>
</div>
