<div class="main-estimation-container">
  <div class="title"><h3><i class="fas fa-biking"></i> Passer une course</h3></div>
  <div class="addresses">
    <%= render 'courses/new_course_invite', course: course %>
  </div>
</div>
