<% if orders.present? %>
  <div class="cards">
    <% orders.each do |order|  %>
      <div class="card">
        <div class="infos-div"><%= link_to order_path(order), class: "infos" do  %>
          <div class="item grow "> <p> <%= order.created_at.strftime('%e/%m/%y') %> </p> </div>
          <div class="item mw-80 text-g fs18"><p><%= order.amount %>
            <span class="hors-taxe-text">H.T</span></p>
          </div>
          <% if (params[:controller] == 'payments' || params[:controller] == 'orders') %>
          <div class="item mw-80 text-g fs18"><p><%= (order.amount * 1.2) %>
            <span class="hors-taxe-text ">€ TTC</span></p>
          </div>
          <% end %>

        <% end %></div>
      </div>
    <% end %>
  </div>
<% end %>


