


<div class="hcf-main-container">
  <div class="header">
    <h1>Mes courses</h1>
  </div>
  <div class="content">
    <%= render 'shared/index_courses', courses: @pending %>
    <%= render 'shared/index_courses', courses: @accepted %>
    <%= render 'shared/index_courses', courses: @inprogress %>
    <%= render 'shared/index_courses', courses: @done %>
  </div>
</div>

