<div data-controller="delivery" class="bg-blue-bici w-screen h-screen flex text-white">
  <%= render 'shared/sidebar' %>
  <div class="w-full" id="delivery_form">
    <%= render(Delivery::AppFormComponent.new(delivery: @delivery, city: @city, user: @user)) %>
  </div>
</div>
