<div data-controller="delivery mapbox" class="w-screen h-screen flex text-blue-bici-dark bg-blue-50">
  <%= render 'shared/sidebar' %>
  <div class="w-full flex">
    <div id="delivery_form">
      <%= render(Delivery::AppFormComponent.new(delivery: @delivery, city: @city, user: @user)) %>
    </div>
    <div id="map"
      style="width: 50%; height: 100%;"
      data-map-target='map'
      data-markers=""
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
