



<div class="hcf-main-container">
  <div class="header">
    <h1>Commande <%= state_order_translation(@order.state) %> </h1>
    <!-- <span><%= @order.state %></span> -->
  </div>
  <div class="content">
      <%= render 'shared/index_shopping_carts_courses', courses: @order.shopping_cart.courses %>
      <%= render 'shared/index_shopping_carts_carnets', carnets: @order.shopping_cart.carnets %>
  </div>
</div>


