<div class="conditions">
  <h1>Conditions générales de service</h1>

  <div class="contact"><p>BiciCouriers Nantes - L'OUVRE-BOITE 44
  8 Avenue des Thébaudières 44800 Saint Herblain
  +33 781 660 350 contact@bicicouriers.fr</p></div>


  <p>Toute commande ou utilisation de notre service de livraison implique de plein droit l’acceptation entière et sans réserve des présentes conditions générales.</p>

  <h2>1. Service assuré</h2>
  <p>BiciCouriers Nantes est une société de livraison utilisant le vélo comme moyen de transport. <br>
  Le service assuré s’entend depuis la prise chez l’expéditeur jusqu’à sa complète livraison au destinataire de la course.<br>
  L’acceptation sans réserve de l’envoi par le destinataire, (matérialisée par l’apposition de sa signature et/ou de son cachet commercial sur le bon de livraison), matérialise la fin du contrat et atteste de sa bonne exécution, valant décharge de BiciCouriers de sa responsabilité.</p>

  <h2>2. Plis acceptés</h2>
  <p>Le colis ne doit présenter aucun risque pour le coursier et tout autre tiers. Le Client est responsable du contenu du colis, dont il garantit la licéité et la non-dangerosité. <br>
    Les éléments suivants ne pourront pas être livrés par BiciCouriers Nantes et le Client s’engage en conséquence à ne pas lui confier de colis contenant les éléments suivants : </p>
  <ul>
    <li>Denrées périssables sous température dirigée </li>
    <li>Êtres humains ou animaux vivants ou morts </li>
    <li>Tabac </li>
    <li>Armes et matériels de guerre ou assimilés (y compris en pièces détachées) </li>
    <li>Matières biologiques périssables, infectieuses ou non infectieuses, organes </li>
    <li>Stupéfiants et substances psychotropes </li>
    <li>Produits de contrefaçon  </li>
  </ul>

  <p>Dans ces conditions, BiciCouriers Nantes se réserve la faculté de refuser toute course qui contreviendrait à cette disposition, et ce y compris après la prise de commande, si le coursier n’obtient pas la garantie que le pli, objet de la course, est conforme aux présentes conditions générales. En outre, BiciCouriers Nantes se réserve la faculté de refuser toute course sans justification.</p>

  <h2>3. Livraison</h2>
  <p>Annulation de la commande : en cas d’annulation avant la prise en charge de la livraison, une indemnité sera facturée au client. <br>
  Après la prise en charge la course sera facturée intégralement. <br>
  Mise en attente du coursier : En cas d’attente de plus de 10 mn du coursier à l’adresse de livraison une majoration sera appliquée au prix de la course.  <br>
  Le coursier n’attendra toutefois pas plus de 15 mn sur le lieu de livraison.  <br>
  Absence de la personne devant réceptionner le colis à l’adresse de livraison : Le coursier pourra soit, relivrer dans l’heure, soit rapatrier la livraison à l’adresse de prise en charge, soit stocker pour une re-livraison.  <br>
  Une majoration sera alors appliquée.  <br>
  Adresse de livraison erronée : Si le client a fourni une adresse de livraison erronée lors de la commande, le coursier pourra représenter la livraison à la bonne adresse dans un délai qui sera convenu avec le client, ou rapatrier le colis à l’adresse de prise en charge.  <br>
  Une majoration sera alors appliquée. <br>
  Dans les deux derniers cas la majoration viendra en sus de l’indemnité due en cas de mise en attente du coursier si le coursier a été contraint d’attendre plus de 10 mn sur le lieu de livraison avant que le client ne fasse part de sa décision. <br>
  Les indemnités et majorations prévues ci-dessus seront dues par le client et ajoutées au prix de la course.</p>

  <h2>4. Délais</h2>
  <p>Les délais de livraison sont donnés à titre indicatif et correspondent à des conditions de climat et de circulation normale. Dans l’hypothèse où un délai de livraison ne serait pas respecté par BiciCouriers Nantes, le tarif appliqué à la course serait celui correspondant au délai de livraison réel du colis.</p>

  <h2>5. Engagements du client</h2>
  <p>Si le colis ne correspond pas au poids et volume indiqué dans la commande, BiciCouriers Nantes pourra annuler la commande aux frais du client dans les conditions prévues ci-dessus pour les annulations de commande, ou soumettre la course au tarif correspondant au poids et volume réel du colis avec l’accord du client. <br>
    Le client doit prendre toutes les dispositions nécessaires d’emballage et de protection afin que le transport s’effectue dans les meilleures conditions possibles. <br>
    Toute réclamation, quelle que soit sa nature, devra être confirmée dans les trois jours qui suivent la livraison par lettre recommandée à notre siège social.</p>

  <h2>6. Paiement</h2>
  <p>Le paiement s’effectue dans un délai de 10 jours à réception de facture, par chèque, par virement ou directement sur notre site bicicouriers.fr sauf stipulation contraire écrite. <br>
  Dans le cadre de la loi n° 92-1442 du 31 décembre 1992, tout retard de règlement entraînera l’exigibilité immédiate de toutes les sommes restant due quel que soit le mode de règlement prévu, et le paiement d’un intérêt de retard calculé au taux de 15% par an, applicable dès le premier jour de retard. Les pénalités sont exigibles sans qu'aucun rappel ne soit nécessaire. <br>
  Il n'est ainsi pas nécessaire d'envoyer une lettre recommandée afin de déclencher le droit de percevoir des pénalités de retard.</p>

  <h2>7. Force majeure</h2>
  <p>BiciCouriers Nantes est déchargé de sa responsabilité en cas de défaut de service causé par un cas de force majeure ou du fait d’un tiers, et ce conformément aux textes, actuellement applicables en France, définissant ces critères.</p>

  <h2>8. Attribution de juridiction</h2>
  <p>Tous les litiges pouvant naître de l’exécution de nos livraisons et n'étant pas résolu à l’amiable, seront soumis au tribunal de commerce de Nantes.</p>
</div>
