<div class="covid">
  <div class="title">
    <h1>Covid 19</h1>
  </div>
  <div class="intro">
    <p>Bonjour à vous,<br>
      Nous revoilà replongé au coeur d’une périodes aux allures de mauvais film de science fiction. Très compliqué de se projeter au vue de l’incertitude qui plane sur tout. <br>
      Pour nos commerçants, qui ont subis les manifestations, le 1er confinement, (sans rentrer dans le mélodrame), les fêtes de fin d’années semblait bien être la lueur d’espoir pour sauver le CA de cette année. <br>
      Afin de ne pas céder toute la place à la commande en ligne, nous souhaitons vous proposer nos services de livraisons à domicile à vélo. <br>
      Notre petite entreprise qui existe sur Nantes depuis 2017, n’a pas l’ambition de sauver tous les commerces de notre ville. Mais au moins de faire son possible pour que vous puissiez simplement proposer une livraison à vos clients. Tout en gardant nos valeurs éthique, local, écologique et social.<br>
      Plusieurs commerçants de Nantes sont venu vers nous lors du premier confinement, si vous souhaitez à votre tour prendre contact avec nous n’hésitez pas à nous contacter par mail (contact@bicicouriers.fr) ou par téléphone au 0781660350.
      Essayons de garder le peu de liens sociaux qui nous reste pour se soutenir,
      Alors immense soutien et courage à vous. <br>
      <br>
      Cordialement, <br>
      <br>
      Florent, Théo & Gaspard : l’équipe de BiciCouriers</p>
  </div>
  <div class="buttons">
    <%# <%= link_to "Nous appeler","0212345678", class: "bici-button" %> %>
    <h2>0781660350</h2>
    <%= link_to "Nous écrire",new_contact_path, class: "bici-button" %>
  </div>

  <%# <div class="main-guest-courses" id="box"> %>
      <%# <div class="title"><h2><i class="fas fa-biking"></i>Demander un coursier</h2><p>02.85.52.64.80</p> </div> %>
      <%# <div class="addresses"> %>
        <%# <%= render 'courses/new_course_invite', course: @course, user: @user %>
      <%# </div> %>
    <%# </div> %>
</div>
