<div class="main-container">
  <%= video_tag "bicilanding.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="home-container">
    <div class="cta-container">
      <div class="tag">
        <h2>#fastandcouriers</h2>
      </div>
      <div class="title">
      <h1> <%= t('pages.title') %>  </h1>
      </div>
      <div class="text">
        <p><%= t('pages.subtitle') %></p>
      </div>
    </div>
    <div class="main-guest-courses" id="box">
      <div class="title"><h3><i class="fas fa-biking"></i>Demander un coursier</h3><p>02.85.52.64.80</p> </div>
      <div class="addresses">
        <%= render 'courses/new_course_invite', course: @course, user: @user %>
      </div>
    </div>
  </div>
</div>
