<div class="main-container" data-controller="delivery">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Les Services",
        "item": "https://bicicouriers.fr/services"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Les Avantages",
        "item": "https://www.bicicouriers.fr/avantages"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Notre Histoire",
        "item": "https://bicicouriers.fr/histoire"
      },{
        "@type": "ListItem",
        "position": 4,
        "name": "Les Tarifs",
        "item": "https://bicicouriers.fr/tarifs"
      },{
        "@type": "ListItem",
        "position": 5,
        "name": "Nous Contacter",
        "item": "https://bicicouriers.fr/contacts/new"
      }]
    }
  </script>

  <div class="w-full h-full flex justify-center items-center z-10 bg-opacity-0 absolute">

    <div class="w-2/3 md:w-1/2 h-3/4 md:h-1/2 ">
      <p class="text-white text-2xl pb-4">#fastandcouriers</p>
      <h1 class="text-white text-4xl md:text-7xl pb-6 font-bold">Les coursiers les plus rapides de Nantes !</h1>
      <p class="text-gray-100 text-lg md:text-xl">Imprévu ? Rush inattendu ? Vous ne devriez même pas prendre le temps de lire ceci ? Appelez-nous ou cliquez sur “Demander un coursier”, livraison effectuée en moins de <span class="text-white font-semibold">45 minutes !</span></p>
    </div>

  </div>

  <%= video_tag "bicilanding.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "z-0 w-full h-full object-cover absolute" %>
  <div  class="z-50 relative" id="delivery_form"></div>

  <div class="z-40 absolute m-auto sm:left-0 bottom-0 bg-pink-bici rounded-tr-lg px-6 py-2 cursor-pointer transform hover:scale-110 transition" id="box" data-reflex='click->Delivery#new'>
    <div class="text-center text-white font-bold mx-4 mt-2"><h2 class="mb-2"><i class="fas fa-biking"></i>Demander un coursier</h2></div>
  </div>

  <div id="notifications" class="z-50 absolute right-12 bottom-12 cursor-pointer w-96">

  </div>
</div>
