

<div class="bg-blue-bici md:h-screen w-full lg:w-4/5 right-0 absolute"></div>
<div class="bottom-20 left-0 absolute">
  <%= image_tag "story/end-line.svg", alt: "ligne-design" %>
</div>
<div class="invisible md:visible bottom-0 right-0 absolute">
  <%= image_tag "story/oeuf-1.svg", alt: "oeuf-sur-le-plat-design" %>
</div>

<div class="bg-blue-bici md:bg-transparent md:h-screen w-full absolute">

  <div class="h-full flex flex-col-reverse lg:grid lg:grid-cols-2 xl:grid-cols-3 md:overflow-hidden">
    <div class="xl:col-span-2 bg-bridge-image h-80 lg:h-full bg-cover bg-center lg:my-20 lg:ml-40">
    </div>
    <div class="lg:my-20 my-20 md:mx-20 mx-4 lg:mx-16">
      <h1 class="text-white text-4xl 2xl:text-6xl font-semibold mb-6">L’histoire de BiciCouriers</h1>
      <p class="text-white text-md 2xl:text-lg text-justify ">BiciCouriers <strong>Nantes</strong> est né d'un voyage de Théo d'un an à Milan, où il
        a rencontré Lucas et Andrea de BiciCouriers Milan ! <br>
        <br>
        L'idée de monter une <strong>entreprise de coursiers</strong> est resté dans un coin de sa tête
        à son retour sur Nantes. Créer une entreprise locale, avec une véritable envie
        de sortir d'un système exploitant les livreurs de foodtech. Luca et Andrea ont
        proposés de reprendre les couleurs de BiciCouriers. <br>
        <br>
        Aujourd'hui c'est avec grand plaisir que BiciCouriers Nantes est arrivé grâce
        à l'expérience de trois passionnés de vélo et l'appui de <strong>L'Ouvre-Boites44</strong> avec qui
        nous développons notre activité en toute sérénité. <br>
        BiciCouriers est une <strong>entreprise locale</strong> qui travaille avec des entrepreneurs locaux
        afin de désengorger notre belle ville de Nantes d'un flux de trafic trop important,
        pour le confort de tous.<br>
        <br>
        À bientôt sur les routes 😉
      </p>
    </div>

  </div>

</div>
