<div class="absolute bottom-0 z-0 invisible lg:visible">
  <%= image_tag "contact/oeuf-1.svg", alt: "oeuf-sur-le-plat-design", class: "z-0"  %>
</div>
<div class="absolute top-0 right-0 z-0 invisible lg:visible">
  <%= image_tag "contact/oeuf-2.svg", alt: "oeuf-sur-le-plat-design", class: "z-0" %>
</div>

<div class="lg:flex w-full h-screen z-20">

    <div class="pb-10 lg:h-screen py-6 px-10 sm:p-20 lg:px-32 md:pt-12 2xl:pt-40">
      <div class="">
        <h1 class="z-20 text-5xl text-blue-bici font-extrabold">Contactez-nous*,</h1>
        <h2 class="z-30 text-4xl text-blue-bici pb-4">demandez-nous un devis !</h2>
        <p class="z-40 text-lg text-blue-bici pb-8">*Internet c’est bien pratique, mais vous pouvez aussi nous appeler, ou profitons de vivre à Nantes pour échanger ? <br>
        Passez nous voir !</p>
      </div>
      <div data-controller="contact">
        <h3 class="text-4xl text-blue-bici pb-4">Nous écrire</h3>

        <div class="z-50" id="contact_form"><%= render(ContactComponent.new(contact: @contact)) %></div>



      </div>
    </div>

    <div class="sm:pl-80 lg:pl-0 sm:-mt-32 lg:mt-0 p-8 lg:h-screen w-full lg:w-1/3 lg:pr-40 lg:py-80">

        <p class="text-blue-bici text-xl"><strong> BiciCouriers   <br> 8 Passage de la Poule Noire,<br> 44000 Nantes</strong></p>
        <p class="text-blue-bici text-xl">08:00 à 19:00</p>
        <p class="text-blue-bici text-xl">02.85.52.64.80</p>
        <p class="text-blue-bici text-xl">07.81.66.03.50</p>
        <p class="text-blue-bici text-xl">contact@bicicouriers.fr</p>

    </div>
</div>
