<% case  %>
  <% when @status == 'pending' %>
    <div class="flex absolute left-2 bottom-2">
      <p class=" text-red-600 pr-2">En attente</p>
      <svg class="animate-spin my-auto h-5 w-5 text-blue-bici-dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>

  <% when @status ==  'validate' %>
    <div class="flex absolute left-2 bottom-2">
      <p class=" text-green-500 pr-2">Validée <i class="fas fa-arrow-right"></i></p>
    </div>

  <% when @status ==  'ongoing' %>
    <div class="flex absolute left-2 bottom-2">
      <p class=" text-orange-400 pr-2">En livraison</p>
      <svg class="animate-spin my-auto h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>

  <% when @status ==  'delivered' %>
    <div class="flex absolute left-2 bottom-2">
      <p class=" text-green-500 pr-2">Livrée <i class="fas fa-check"></i></p>
    </div>

  <% when @status ==  'canceled' %>
    <div class="flex absolute left-2 bottom-2">
      <p class=" text-red-500 pr-2">Annulée <i class="fas fa-times"></i></p>
    </div>

<% end %>
