




<div class="hcf-main-container">
  <div class="header">
    <h1>Mes carnets</h1>
  </div>
  <div class="content">
    <%= render 'shared/index_carnets', carnets: @inprogress, state: "ip" %>
    <%= render 'shared/index_carnets', carnets: @oldone, state: "do" %>
  </div>
  <div class="footer">
    <div class="right-button">
      <%= link_to "Nouveau carnet", new_carnet_path, class: "bici-button" %>
    </div>
  </div>

</div>

