@import "tailwindcss/base.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

//test

@layer components {
    .btn-bici {
      @apply py-2 px-4 text-center bg-white text-pink-bici font-normal rounded-md shadow-md hover:bg-pink-bici hover:text-white border border-pink-bici hover:border-white transition-colors focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .btn-bici-wait {
      @apply py-2 px-4 text-center bg-gray-400 text-white font-normal rounded-md shadow-md border border-white;
    }
    .btn-bici-lg {
      @apply py-4 px-8 text-center bg-white text-pink-bici font-normal rounded-md shadow-md hover:bg-pink-bici hover:text-white border border-pink-bici hover:border-white transition-colors focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .category-selector-tw {
      @apply absolute transform scale-0
    }
    .btn-bici-sec {
      @apply py-2 px-4 text-center text-white font-normal rounded-md hover:bg-pink-bici-dark hover:text-white border border-pink-bici hover:border-white transition-colors focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
  }
