.gm-control-active, .gm-style-mtc, .gm-svpc {
  display: none;
}

.course-show-container {
  // background-color: red;
  width: 80vw;
  height: 3000px;
  margin-top: 100px;
  .first-container {
    display: flex;
    justify-content: space-around;
  }

  .rammassage, .livraison {
    width: 45%;
    // background-color: pink;
    h1 {


      font-weight: 600;
      font-size: 30px;
      line-height: 25px;
      border-bottom: 2px $yellow solid;
      padding-bottom: 8px;
      margin-bottom: 16px;
    }
    p {
      width: 100%;
      border:none;
      // border-bottom: 2px $yellow solid;
      // background-color: transparent;
      margin-bottom: 20px;


      font-weight: 300;
      font-size: 15px;
      line-height: 8px;
      color: white;
      &:active {
        box-shadow: none;
      }
    }
  }
  #show-map-container {
    margin: 10px 0px 20px 0px;
    width: 45%;
    // height: 500px;
    border-radius: 15px;
    background: #153A7E;
    box-shadow:  7px -7px 14px #143776,
                 -7px 7px 14px #163d86;
    // background-color: pink;
  }
  .total-container {
  width: 45%;
  min-height: 50vh;
  }
}


