.main-side-nav {
  // background-color:pink;
  min-width: 270px;
  max-width: 270px;
  height: 100vh;
  // position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;


  padding-top: 100px;
  border-right: 2px white solid;
  padding-left: 40px;

  .user-infos {
    margin-left: 20px;
    #name {


      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: white;
    }

    #company {


      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: white;
    }

    #phone {


      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: white;
    }

    #email {


      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: white;
    }
  }

  .button-list {
    margin-top: 30px;
    ul {
      margin-left: -20px;
    }
    li {
      padding-top: 20px;
      list-style: none;
    }
    a {


      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: white;
      &:active {
        color: $yellow;
        font-weight: 600;
      }
    }
  }
  .side-oeuf-1 {
    position: absolute;
    bottom: 0px;
    left:0px;
  }
  .ticket-counter {
    width: 160px !important;
    height: 160px !important;
    // background-color: red;
    position: absolute;
    bottom: 70px;
    left:55px;
  }
  a {
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      color: $pink;
      // font-weight: 600;
    }
  }
  .select {
    border-bottom: solid 2px white;
    a {
      color: $pink;
      font-weight: 600;
    }
  }
  .ldBar-label {
  top: 50% !important;
  }
}
